.square{
    width:80px;
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 500;
    color:#ffffff;
    border: 2px #ffffff solid;
}
